.header {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 50px;
  margin: 30px;
  /*background-image: url("IMG_1245.jpeg");*/
}

body {
  background-color: rgb(189, 234, 238);
  color: rgb(94, 86, 86);
  margin: 0;
}

.paragraph1 {
  margin: 50px;
}

.navbar {
  background-color: rgb(88, 102, 139);
  overflow: hidden;
}

.navbar a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 22px;
  text-decoration: none;
  font-size: 25px;
  opacity: 0.6;
  transition: 0.5s;
  /*text-align: center;*/
}

.navbar a.nameslot {
  opacity: 1;
  transition: 0s;
}

.navbar a:hover:not(a.nameslot) {
  background-color: black;
  opacity: 1;

}

.navbar a.active {
  background-color: black;
  opacity: 1;
}